
.todo-item-details {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    opacity: .85;
}

.task-status{
    width: 2rem;
    height: 2rem;
}

.todo-item-due-date {
    font-size: 1.5rem;
    opacity: .85;
    margin-top: 1rem;
}

.todo-item-dets {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.45rem;
}

.todo-item {
    width: 100%;
    display: flex;
    gap: 2rem;
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    cursor: grabbing;
}

.todo-item-edit {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-top: .8rem;
}

.todo-item-edit select{
    background-color: white;
}

.todo-item-edit input[type=date] {
    width: 100%;
}

.todo-item-list {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
}

.todo-item-priority {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: white;
    font-size: 1.7rem;
}

.todo-item-placeholder {
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 12rem;
    width: 100%;
    visibility: hidden;
}

.todo-item.dragging {
    background-color: #f0f0f0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.todo-item-display {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.completed {
    display: flex;
    text-decoration: line-through;
    color: gray;
    font-weight: 900;
    font-size: 1.5rem;
}

.pending {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.75rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.todo-item-actions {
    padding-top: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.delete-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

button .delete-icon {
    color: rgb(0, 85, 128);
    width: 4rem;
    height: 3rem;
}

.edit-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.edit-icon {
    color: rgb(0, 85, 128);
    width: 3rem;
    height: 3rem;
}

.edit-icon:hover {
    color: rgb(0, 34, 51);
    transform: scale(1.05);
}

.delete-icon:hover {
    color: rgb(0, 34, 51);
    transform: scale(1.05);
}

.todo-item-actions-btns {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    gap: 2rem;
}

.save-btn,
.cancel-btn {
    width: 8rem;
    height: 3rem;
    font-size: 1.75rem;
}

.save-btn:hover, .cancel-btn:hover{
    background-color: #ffffff;
    border: 1px solid rgb(0, 85, 128);
    color: rgb(0, 85, 128);
    transform: scale(1.01);
}

@media(min-width: 768px) {

    .todo-item-due-date, 
    .todo-item-dets,  
    .todo-item-priority, 
    .completed {
        font-size: 1.75rem;
    }

    .pending {
        font-size: 2rem;
    }

    button .delete-icon {
        width: 3rem;
        height: 3rem;
    }

    .edit-icon {
        height: 3rem;
        width: 3rem;
    }

    .save-btn,
    .cancel-btn {
        display: flex;
        width: 10rem;
        height: 4rem;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width: 1024px) {
    .todo-item-due-date,
    .todo-item-dets,
    .todo-item-priority,
    .completed {
        font-size: 1.75rem;
    }

    .pending {
        font-size: 1.85rem;
    }

    button .delete-icon, .edit-icon {
        width: 3.5rem;
        height: 3.5rem;
    }

    .save-btn,
    .cancel-btn {
        width: 8rem;
        height: 4rem;
        font-size: 1.6rem;
    }
}

@media(min-width: 1280px) {
    .todo-item{
        gap: 1rem;
        padding: 0;
    }

    .todo-item-due-date,
    .todo-item-dets,
    .todo-item-priority,
    .completed {
        font-size: 1.75rem;
    }

    .pending {
        font-size: 2rem;
    }

    button .delete-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .edit-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .save-btn,
    .cancel-btn {
        width: 7rem;
        height: 4rem;
        font-size: 1.4rem;
    }
}